<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<p></p>
<button style=" background-color: #80bdff; border-radius: 6px; border-color: #9fcdff"><a href="{% url 'aviacompany_list' %}" style="font-size:20px; color: white">Вернуться на главную страницу</a></button>
<p></p>
<div>
    <div style="font-size:23px; background-color:white; border-radius:6px; color:red;" align="center"><div style="margin-left: 7px;">{{ message }}</div></div>
    <form method="post" action="add_company" align="center">
        {% csrf_token %}
        <div style="background-color: #007bff; font-size: 25px; border-top-right-radius: 9px; border-top-left-radius: 9px; color: white;">Данные авиакомпании</div>
        <input type="text" class="form-control" name="id" placeholder="ID авиакомпании">
        <input type="text" class="form-control" name="company_name" placeholder="Название авиакомпании">
        <input type="text" class="form-control" name="country" placeholder="Страна">
        <input type="text" class="form-control" name="director" placeholder="Директор">
        <input type="text" class="form-control" name="date" placeholder="Дата основания">
        <input type="text" class="form-control" name="description" placeholder="Краткое описание">
        <div style="background-color: #007bff; font-size: 25px; color: white;">Характеристики самолета</div>
        <input type="text" class="form-control" name="id_plain" placeholder="ID самолета">
        <input type="text" class="form-control" name="plain_name" placeholder="Название самолета">
        <input type="text" class="form-control" name="length" placeholder="Длина">
        <input type="text" class="form-control" name="numof_seats" placeholder="Кол-во мест">
        <input type="text" class="form-control" name="wingspan" placeholder="Размах крыла">
        <input type="text" class="form-control" name="max_height" placeholder="Максимальная высота полета">
        <input type="text" class="form-control" name="max_weight" placeholder="Грузоподъемность">
        <input type="text" class="form-control" name="speed" placeholder="Средняя скорость" style="border-bottom: solid; border-bottom-color: #007bff; border-bottom-right-radius: 9px; border-bottom-left-radius: 9px;">
        <input type="submit" value="Добавить" style="font-size:22px; background-color: #007bff; border-width: thin; border-color: #007bff; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; color: white;">
    </form>
</div>
</body>
</html>