<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<p></p>
<button style=" background-color: #80bdff; border-radius: 6px; border-color: #9fcdff"><a href="{% url 'aviacompany_list' %}" style="font-size:20px; color: white">Вернуться на главную страницу</a></button>
<p></p>
<div>
    <form method="post" action="remove_plain" align="center">
        {% csrf_token %}
        <p style="font-size: 23px; color: #0062cc;">Введите название авиакомпании, самолет которой Вы собираетесь удалить</p>
        <input style="border-width: 1.3px; border-color: #007bff;" type="text" class="form-control" name="aviacompany_name" placeholder="Название авиакомпании...">
        <p style="font-size: 23px; color: #0062cc;">Введите название самолета, который собираетесь удалить</p>
        <input style="border-width: 1.3px; border-color: #007bff;" type="text" class="form-control" name="plain_name" placeholder="Название самолета">
        <input type="submit" value="Удалить" style="font-size:22px; background-color: #007bff; border-width: thin; border-color: #007bff;  border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; color: white;">
    </form>
</div>
</body>
</html>